# i-Parapheur
# Copyright (C) 2019-2020 Libriciel-SCOP
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# https://docs.docker.com/compose/environment-variables/

APPLICATION_PROTOCOL=http
APPLICATION_HOST=iparapheur.dom.local

KEYCLOAK_HOST=keycloak
KEYCLOAK_REALM=api
KEYCLOAK_CLIENT_ID=ipcore-web

VAULT_UNSEAL_KEY=<token>
VAULT_TOKEN=<token>

POSTGRES_USER=root
POSTGRES_PASSWORD=libriciel2k18

KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_DB_DATABASE=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

MATOMO_TOKEN=<token>
MATOMO_DB_ROOT_PASSWORD=libriciel2k18
MATOMO_DB_DATABASE=matomo
MATOMO_DB_USER=matomo
MATOMO_DB_PASSWORD=matomo
